<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset password</title>
</head>
<body>
<p>Dear Alumni</p>
<p>Please click the following link to reset password your password.</p>

<a href="${client_url} + '/reset-password/' + ${token}"
   style="
       margin: 30px auto;
       width: 150px;
       padding: 8px 16px;
       text-align: center;
       color: #ffffff;
       cursor: pointer;
       display: block;
       border-radius: 5px;
       background-color: #5050db;
       text-decoration: none
       ">
    Reset Password
</a>
<br/>
Note: This link will expire within ${expire_time} hour. This link can be used at most once.

<p>
    <br/>
<hr/>
<small>
    If you're having trouble clicking the "Reset Password" button, copy and paste
    the URL below into the web browser: ${client_url}/reset-password/${token}
</small>
</p>

</body>
</html>