<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
        }
        .container {
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
        }
        .content {
            line-height: 1.5;
        }

    </style>
</head>
<body>
<div class="container">
    <p class="content">Dear <span th:text="${name}"></span>,</p>
    <p class="content">Welcome back to the CSE Ku Alumni Network</p>
    <p class="content">Your registration is now complete, and you can now connect with fellow alumni, explore career resources, and stay updated on university news and events.</p>
    <p class="content">We encourage you to update your profile to share your career journey and reconnect with classmates. Additionally, feel free to explore the various groups and forums available to connect with others who share your interests.</p>
    <p class="content">We look forward to seeing you involved in the CSE Ku Alumni Network!</p>
    <p class="content">Sincerely,</p>
    <p class="content">CSEKU Alumni Volunteer Team</p>
</div>
</body>
</html>
